In [1]:
import numpy as np
import pandas as pd
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [20]:
driver = webdriver.Chrome('C:/Users/dell/Downloads/chromedriver_win32/chromedriver.exe')

In [4]:
driver.get("https://www.flipkart.com/micromax-bling-q55-mobile-phone/product-reviews/ITMCZCR3QCRBHDAZ?pid=MOBCZQ5BUTBXHTCT")

In [45]:
start = 1
end = 7
rev = []
rat = []
rat1 = []
rat2 = []
for page in range(start, end):
    url = 'https://www.flipkart.com/micromax-bling-q55-mobile-phone/product-reviews/ITMCZCR3QCRBHDAZ?pid=MOBCZQ5BUTBXHTCT&page=' + str(page)
    driver.get(url)
    re = driver.find_elements_by_xpath("//p[@class= '_2-N8zT']")
    ra = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1BLPMq']")
    ra1 = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1rdVr6 _1BLPMq']")
    ra2 = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _32lA32 _1BLPMq']")
    
    for i in range(len(re)):
        rev.append(re[i].text)
    
    for i in range(len(ra)):
        rat.append(ra[i].text)
        
    for i in range(len(ra1)):
        rat1.append(ra1[i].text)
        
    for i in range(len(ra2)):
        rat2.append(ra2[i].text)

In [40]:
len(rev)

56

In [41]:
len(rat)

34

In [43]:
len(rat1)

18

In [47]:
len(rat2)

4

In [48]:
rate = rat + rat1 + rat2

In [50]:
len(rate)

56

In [51]:
review1 = pd.DataFrame({'Review': rev, 'Rating': rate})

In [53]:
review1 = review1.to_csv("review1.csv")

In [54]:
driver.get("https://www.flipkart.com/realme-8s-5g-universe-purple-128-gb/product-reviews/itm79fdf59bdbe44?pid=MOBG5Y94WJ6GJ8MK&lid=LSTMOBG5Y94WJ6GJ8MKMEULAS&marketplace=FLIPKART")

In [55]:
start = 1
end = 472
rev = []
rat = []
rat1 = []
rat2 = []
for page in range(start, end):
    url = "https://www.flipkart.com/realme-8s-5g-universe-purple-128-gb/product-reviews/itm79fdf59bdbe44?pid=MOBG5Y94WJ6GJ8MK&lid=LSTMOBG5Y94WJ6GJ8MKMEULAS&marketplace=FLIPKART&page=" + str(page)
    driver.get(url)
    re = driver.find_elements_by_xpath("//p[@class= '_2-N8zT']")
    ra = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1BLPMq']")
    ra1 = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1rdVr6 _1BLPMq']")
    ra2 = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _32lA32 _1BLPMq']")
    
    for i in range(len(re)):
        rev.append(re[i].text)
    
    for i in range(len(ra)):
        rat.append(ra[i].text)
    
    for i in range(len(ra1)):
        rat1.append(ra1[i].text)
        
    for i in range(len(ra2)):
        rat2.append(ra2[i].text)

In [57]:
len(rev)

4704

In [59]:
len(rat)

4373

In [61]:
len(rat1)

232

In [63]:
len(rat2)

99

In [64]:
rate = rat + rat1 + rat2

In [65]:
len(rate)

4704

In [66]:
review2 = pd.DataFrame({'Review': rev, 'Rating': rate})

In [68]:
review2 = review2.to_csv('review2.csv')

In [6]:
driver.get("https://www.flipkart.com/samsung-galaxy-f12-sky-blue-64-gb/product-reviews/itm0319ce24f74aa?pid=MOBGFG79BVGDHGWV&lid=LSTMOBGFG79BVGDHGWVGF2CRI&marketplace=FLIPKART")

In [7]:
start = 1
end = 1001
rev = []
rat = []
rat1 = []
rat2 = []
for page in range(start, end):
    url = "https://www.flipkart.com/samsung-galaxy-f12-sky-blue-64-gb/product-reviews/itm0319ce24f74aa?pid=MOBGFG79BVGDHGWV&lid=LSTMOBGFG79BVGDHGWVGF2CRI&marketplace=FLIPKART&page=" + str(page)
    driver.get(url)
    re = driver.find_elements_by_xpath("//p[@class= '_2-N8zT']")
    ra = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1BLPMq']")
    ra1 = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1rdVr6 _1BLPMq']")
    ra2 = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _32lA32 _1BLPMq']")
    
    for i in range(len(re)):
        rev.append(re[i].text)
    
    for i in range(len(ra)):
        rat.append(ra[i].text)
    
    for i in range(len(ra1)):
        rat1.append(ra1[i].text)
        
    for i in range(len(ra2)):
        rat2.append(ra2[i].text)

In [9]:
len(rev)

9495

In [11]:
len(rat)

8380

In [13]:
len(rat1)

751

In [15]:
len(rat2)

364

In [16]:
rate = rat + rat1 + rat2

In [17]:
review3 = pd.DataFrame({'Review': rev, 'Rating': rate})

In [19]:
review3 = review3.to_csv('review3.csv')

In [21]:
driver.get('https://www.flipkart.com/realme-c20-cool-blue-32-gb/product-reviews/itmea1903897436b?pid=MOBGF4894MEWZJGV&lid=LSTMOBGF4894MEWZJGVW425N5&marketplace=FLIPKART')

In [22]:
start = 1
end = 1001
rev = []
rat = []
rat1 = []
rat2 = []
for page in range(start, end):
    url = "https://www.flipkart.com/realme-c20-cool-blue-32-gb/product-reviews/itmea1903897436b?pid=MOBGF4894MEWZJGV&lid=LSTMOBGF4894MEWZJGVW425N5&marketplace=FLIPKART&page=" + str(page)
    driver.get(url)
    re = driver.find_elements_by_xpath("//p[@class= '_2-N8zT']")
    ra = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1BLPMq']")
    ra1 = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1rdVr6 _1BLPMq']")
    ra2 = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _32lA32 _1BLPMq']")
    
    for i in range(len(re)):
        rev.append(re[i].text)
    
    for i in range(len(ra)):
        rat.append(ra[i].text)
    
    for i in range(len(ra1)):
        rat1.append(ra1[i].text)
        
    for i in range(len(ra2)):
        rat2.append(ra2[i].text)

In [24]:
len(rev)

9863

In [26]:
len(rat)

8526

In [28]:
len(rat1)

974

In [30]:
len(rat2)

363

In [31]:
rate = rat + rat1 + rat2

In [33]:
len(rate)

9863

In [34]:
review4 = pd.DataFrame({'Review': rev, 'Rating': rate})

In [36]:
review4 = review4.to_csv('review4.csv')

In [37]:
a = pd.read_csv('review1.csv')

In [38]:
b = pd.read_csv('review2.csv')

In [39]:
c = pd.read_csv('review3.csv')

In [40]:
d = pd.read_csv('review4.csv')

In [46]:
reviews = pd.concat([a, b, c, d], axis= 0)

In [49]:
reviews = reviews.reset_index()

In [51]:
reviews.head()

,index,Unnamed: 0,Review,Rating
0,0,0,best for girls or gifting,5
1,1,1,Good show piece but Bad Mobile! !,3
2,2,2,"Used it for 1 and a half year, it worked quite...",5
3,3,3,Perfect gift for your wife,5
4,4,4,Unique Feel,4

In [52]:
reviews.drop(['index', 'Unnamed: 0'], axis= 1, inplace= True)

In [55]:
reviews.head()

                                              Review  Rating
0                          best for girls or gifting       5
1                  Good show piece but Bad Mobile! !       3
2  Used it for 1 and a half year, it worked quite...       5
3                         Perfect gift for your wife       5
4                                        Unique Feel       4

In [56]:
reviews = reviews.to_csv('reviews.csv')